.containerHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: solid var(--grey-1) 2px;

    .header {
        width: 100vw;
        max-width: 1500px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 15px 15px;
        @media (max-width: 800px) and (min-width: 365px) {
    
            &{
                padding: 15px 15px;
            }
        }
    
        .logoContainer{
            width: 165px;
            img{
                width: 100%;
            }
        }

        .bagLength{
            position: relative;
            top: -11px;
            right: -6px;
            color: white;
            background: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15px;
            width: 15px;
            font-size: 12px;
            font-family: var(--font-Roboto);
        }
    }
}